/* Links Global */
a{
    text-decoration: none
}


/* btn back to top */
.back-top{
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    opacity: 0.8;
    transition: 0.3s;
    z-index: 1;
}
.back-top:hover{
    opacity: 1
}

/* Cards */
.card-body{
    min-height: 180px;
}

.card-null,.card-null-horizontal{
    background-color: #b8b8b8;
}

.card-null{
    height: 400px;
}

.card-null-horizontal{
    height: 100%;
    
}

/* Trailer Iframe */
iframe{
    width: 100%;
    height: 630px
}


@media screen and (max-width: 768px) {
    iframe{
        height: 315px
    }
}